server:
  port: 9527
spring:
  application:
    name: GOGOU-ZUUL
zuul:
  ignoredServices: "*"
  prefix: /services
  routes:
    plat:
      serviceId: GOGOU-PLAT
      path: /plat/**
    product:
      serviceId: GOGOU-PRODUCT
      path: /product/**
    common:
      serviceId: GOGOU-COMMON
      path: /common/**
